<!--The content below is only a placeholder and can be replaced.-->
<div class="main-wrapper">
  <div class="app-comp-wrapper">
    <div class="header-section">
        <div class="show-hide-btn">
          <button mat-raised-button (click)="showHideCLick($event)">
            Показать\скрыть проекты
          </button>
        </div>
        <div class="header-text">
          <h1>
            Добро пожаловать на {{ title }}!
          </h1>
        </div>
      </div>
      <div class="content-section">
        <mat-sidenav-container class="sidenav">
            <mat-sidenav class="sidenav-projects" mode=side [opened]=showModules>
              <projects-list (selectedChange)="onProjectChange($event)">
              </projects-list>
            </mat-sidenav>
            <mat-sidenav-content >
              <router-outlet></router-outlet>
            </mat-sidenav-content>
          </mat-sidenav-container>
      </div>
  </div>
</div>
